* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    background-color: gainsboro;
}

.header {
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    display: flex;
}

.header .title {
    width: 25%;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
}

.header .add {
    width: 75%;
    text-align: left;
    line-height: 70px;
}

.header .add .write {
    width: 280px;
    height: 25px;
    line-height: 25px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #000;
    padding-left: 5px
}

.header .add .submit{
    width: 50px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #000;
    cursor: pointer;
    outline: none;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content > div {
    width: 60%;
    font-size: 14px;
}

.content .doing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content .doing > span{
    font-size: 24px;
    font-weight: 600;
}

.content .number {
    font-size: 14px !important;
    font-weight: normal !important;
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    background-color: #eeeeee;
    float: right;
}

.doing ul {
    width: 100%;
}

.doing ul li {
    position: relative;
    width: 100%;
    height: 30px;
    border: 1px solid #eeeeee;
    line-height: 30px;
    padding: 0 5px;
    border-left: 5px solid royalblue;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 8px;
}

.doing ul li button {
    position: absolute;
    right: 10px;
    top: 6px;
}

.doing ul li span {
    margin-right: 10px;
}

.doing ul li .square {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: lightsteelblue;
    margin-right: 3px;
}

.doing ul li.done {
    background-color: #eeeeee;
    color: grey;
    border-left: 5px solid darkgrey;
    text-decoration: line-through;
}
