<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.js"></script>
</head>
<body>
    <div class="wrapper" id="app">
        <div v-for="(goods, goodsIndex) of goodsList" :key="goods.id">
            <span class="kind">{{ goods.title }}：</span>
            <ul>
                <li
                    v-for="(item, itemIndex) of goods.typeList" :key="item"
                    @click="add(goodsIndex, goods, itemIndex, item)"
                    :class="{ selected:  itemIndex === goods.index}"
                >{{ item }}</li>
            </ul>
        </div>
        <div class="filter">
            <span class="kind">已选条件：</span>
            <span class="noChoose" v-if="flag">暂时没有选择条件</span>
            <ul v-else>
                <li class="selected" v-for="(item, key) of filterList" @click="deleteItem(key)" >{{ item }}</li>
            </ul>
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>